name: owasp-zap-scan

on:
  schedule:
    - cron: '0 11 * * *'
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: https://ai-server-utim.onrender.com
          fail_action: false
